.contenedorProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.contenedorProductos > p {
  background-color: blanchedalmond;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}


