section{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100vw;
  height: 100vh;
}

article{
  background-color: #ffffff;
  width: 80vw;
}

.noshow{
  display: none;
}